---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import BlogList from '../components/Blog-list.astro'
import BlogArticle from '../components/Blog-article.astro';

const blogEntries = await getCollection('blog');
const blogTitle = 'TREASURE CHEST';
---

<Layout title={blogTitle} desc="" isTop={true}>
  <section>
    <div class="heading">
      <h2>ブログ</h2>
    </div>
    <BlogList>
      {
        blogEntries.map((blogPostEntry) => (
          <BlogArticle
            isList={true}
            slug={blogPostEntry.slug}
            title={blogPostEntry.data.title}
            date={blogPostEntry.data.date}
            tags={blogPostEntry.data.tags}
          />
        ))
      }
    </BlogList>
  </section>
</Layout>

<style lang="scss">
  .heading {
    padding: var(--space-s);

    background-color: var(--c-bg);
    background-image: linear-gradient(var(--c-gray) 1px, transparent 1px), linear-gradient(to right, var(--c-gray) 1px, var(--c-bg) 1px);
    background-size: 20px 20px;

    border-inline: 1px solid var(--c-border-primary);
    border-block: 1px solid var(--c-border-primary);
    @include mq(md) {
      padding: var(--space-s) var(--space-m);
    }
    h2 {
      font-size: var(--fs-h-m);
      font-weight: var(--fw-bold);
    }
  }
</style>
